.article{
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    background-color: #555;
}
.title{
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 10px;
}
.date_container{
    font-style: italic;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 5px;
}
.date{
    display: inline-block;
}
.clock{
    display: inline-block;
    margin-left: 10px;
}
.author{
    font-weight: 700;
    margin-bottom: 20px;
}
.author_span{
    font-weight: 300;
}
.summary{
    margin: 20px 0;
    line-height: 120%;
}
.to_source{
    font-style: italic;
    text-decoration: none;
    color: #14ff00;
    margin-top: 20px;
    display: inline-block;
}
.to_source:hover{
    cursor: pointer;
}