.wrapper{
    margin-bottom: 40px;
}
.input {
    display: block;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #14ff00;
    background-color: transparent;
    width: 90%;
    max-width: 500px;
    margin-bottom: 10px;
    color: ghostwhite;
    font-size: 1.2rem;
    letter-spacing: 1px;
}

::placeholder {
    color: #14ff00;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #14ff00;
}

::-ms-input-placeholder {
    color: #14ff00;
}

.submit{
    display: block;
    margin: 20px auto;
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 10px;
    background-color: #14ff00;
    border: none;
    width: 100px;
    transition: all 0.3s linear;
}
.submit:hover{
    background-color: #11d400;
    transition: all 0.3s linear;
    cursor: pointer;
}
.error{
    color: #c10000;
    font-size: 1.1rem;
    text-align: center;
}