.no_articles{
    font-size: 1.2rem;
    font-style: italic;
    text-align: center;
}
.clear_button{
    font-size: 1.2rem;
    padding: 10px;
    color: #14ff00;
    border: 1px solid #14ff00;
    border-radius: 5px;
    background-color: transparent;
    transition: all .3s linear;
    display: block;
    margin: auto;
}
.clear_button:hover{
    color: #000;
    background-color: #14ff00;
    transition: all .3s linear;
    cursor: pointer;
}